.topic-name-tag {
    font-size: 10px !important;
    height: 22px !important;
    background-color: cadetblue !important;
    float: right !important;
    margin-left: 8px !important;
}

div.text-content p {
    float: left;
    margin-right: 8px !important;
}

.message--read .is-text {
    min-width: 480px !important;
}

.summary-button {
    width: 75px !important;
    background-color: #86b576 !important;
    color: #fff !important;
}

.rafah-element .close-element {
    margin-top: 40px;
    border: 1px solid #eee;
    border-radius: 8px;
    font-size: 8px;
    padding: 2px;
    cursor: pointer;
    background-color: #ee8282;
    color: #fffdfd;
}

/* START PAGE LOADER */
/* Ensure that the loader covers the entire page */
.loader-container {
    position: fixed; /* or 'absolute' if you want it to scroll with the page */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* semi-transparent white background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* high z-index to ensure it is above other content */
}

.loader {
    text-align: center;
}

.loader img {
    /* You can define a specific width and height if required */
    width: 40px; /* Example size, adjust as needed */
    height: auto;
}

.loader-message {
    margin-top: 20px; /* Spacing between the GIF and the message */
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

.close-spinner {
    margin-top: 40px;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 2px;
    cursor: pointer;
}
/* END PAGE LOADER */

/* START AI COMPOSER SWITCH */
.ai-composer-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    font-size: 8px;
    float: right;
  }
  
  /* Hide default HTML checkbox */
  .ai-composer-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .ai-composer-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .ai-composer-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .ai-composer-switch input:checked + .ai-composer-slider {
    background-color: #2196F3;
  }
  
  .ai-composer-switch input:focus + .ai-composer-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .ai-composer-switch input:checked + .ai-composer-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .ai-composer-slider.round {
    border-radius: 34px;
  }
  
  .ai-composer-slider.round:before {
    border-radius: 50%;
  }

  .ai-composer-label {
    clear: both;
    font-size: 8px;
    float: right;
    text-align: center;
  }
/* END AI COMPOSER SWITCH */

