/* START CUSTOM ELEMENTS */
.topic-name-tag {
    font-size: 10px !important;
    height: 22px !important;
    background-color: cadetblue !important;
    float: right !important;
    margin-left: 8px !important;
}

div.text-content p {
    float: left;
    margin-right: 8px !important;
}

.message--read .is-text {
    min-width: 480px !important;
}

.summary-button {
    width: 75px !important;
    background-color: #86b576 !important;
    color: #fff !important;
}

.rafah-element .close-element {
    margin-top: 40px;
    border: 1px solid #eee;
    border-radius: 8px;
    font-size: 8px;
    padding: 2px;
    cursor: pointer;
    background-color: #ee8282;
    color: #fffdfd;
}

.vectara-docs-btn {
    font-size: 20px;
    color: #258e3c;
    cursor: pointer;
}

.vectara-doc-text {
    font-size: 18px;
    border: 2px dotted;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    line-height: 35px;
    background-color: #f0faf4;
    padding: 30px;
    text-align: left;
}

.vectara-doc-meta {
  width: 70%;
  margin-left: 15%;
  border: 3px solid #000;
  text-align: left;
}

.vectara-doc-meta th, .vectara-doc-meta td {
  padding: 5px;
  border: 3px solid #000;
}

.vectara-doc-meta th {
  background-color: #ccc;
}

/* END CUSTOM ELEMENTS */

/* START PAGE LOADER */
.loader-container, .preview-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.preview-container {
  background-color: rgba(255, 255, 255, 0.95);
}

.loader {
    text-align: center;
}

.loader img {
    width: 40px;
    height: auto;
}

.loader-message {
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

.close-spinner, .close-previewer {
    margin-top: 40px;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 2px;
    cursor: pointer;
    font-size: 25px;
    color: #c783ad;
}

/* END PAGE LOADER */

/* START AI COMPOSER SWITCH */
.ai-composer-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    font-size: 8px;
    float: right;
  }
  
  /* Hide default HTML checkbox */
  .ai-composer-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .ai-composer-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .ai-composer-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .ai-composer-switch input:checked + .ai-composer-slider {
    background-color: #2196F3;
  }
  
  .ai-composer-switch input:focus + .ai-composer-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .ai-composer-switch input:checked + .ai-composer-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .ai-composer-slider.round {
    border-radius: 34px;
  }
  
  .ai-composer-slider.round:before {
    border-radius: 50%;
  }

  .ai-composer-label {
    clear: both;
    font-size: 8px;
    float: right;
    text-align: center;
  }
/* END AI COMPOSER SWITCH */

